<h1>Songs</h1>

<table border="1">
<thead>
    <tr>
    <th>Song</th>
    <th>Artist</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for song in object_list %}
    <tr>
    <td>{{ song.song }}</td>
    <td>{{ song.artist }}</td>
    <td><a href="{% url "song_view" song.id %}">view</a></td>
    <td><a href="{% url "song_edit" song.id %}">edit</a></td>
    <td><a href="{% url "song_delete" song.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "song_new" %}">New</a>